@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

@media (prefers-color-scheme: dark) {
    body, .modal-content { background: #333; color:#f1f1f1; }
    .list-group-item { border-color: #f1f1f1 }
  }
  @media (prefers-color-scheme: light) {
    body, .modal-content { background: #ffffff; color:#333; }
    .list-group-item { border-color: #333 }
  }
}
body{
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1{
    font-weight: 900;
}

h2{
    font-weight: 700;
}
.form-control, .form-control:focus {
    background: #f1f3f4;
    border: none;
}
.form-control:focus {
    box-shadow: none;
}

.icons-txt{
    top: .4rem;
    position: relative;
}

.icons-back{
    font-size: 2rem;
}

.timer{
    font-weight: 900;
    font-size: 7rem;
}

.pointer{
    cursor: pointer;
} 
.size-xl{
font-size:5rem;
}

.modal-open .container-fluid, .modal-open  .container {
    filter: blur(5px) grayscale(90%);
}

.close{
    color: unset;
    opacity: unset;
    text-shadow: unset;
}